#postinput {
    width: 600px;
    height: 200px;
}

#postcontainer {
    width: 700px;
}

#submitpost {
    float: right;
}

.icon {
    width: 22px;
    height: 22px;
}

.icon:hover {
    cursor: pointer;
}

.posttext {
    margin: 5px 0;
}

#profile-photo {
    width: 100%;
    height: auto;
}

#followingcount, #followinglabel, .editpost {
    color: #0C6291;
}

#followingcount:hover, #followinglabel:hover, .editpost:hover, .like:hover, .unlike:hover {
    cursor: pointer;
    color: #1DA4ED;
}

.editpostfield {
    width: 600px;
    height: 200px;
}

.editpostform {
    display: none;
}